*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #f72210;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  max-width: 1200px;
  width: 100%;
  line-height: 1.2;
  font-family: 'Bitter', serif;
}

.header {
  background-color: var(--primary);

  height: 10rem;
}

.header h1 {
  font-size: 8rem;
}

.row .title-nav:hover {
  color: var(--primary) !important;
}

.font-primary {
  color: var(--primary);
}

.fa-search {
  position: absolute;
  right: 10%;
  top: 20%;
}

.sticky-nav {
  background-color: var(--primary);
  height: 5rem;
}
.tag {
  bottom: 0%;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 3rem;
  color: var(--primary);
  font-weight: bold;
  text-transform: uppercase;
}

.short {
  flex: 0 0 30%;
  padding: 1rem;
  align-self: center;
}
.tag__images {
  width: 35.7rem;
  height: 35.7rem;
}
a {
  color: black;
}
.tag__small {
  bottom: 0;
  left: 0;
  padding: 0.1rem 3rem;
  text-decoration: none;
  background-color: #c2d4d7;
}

.opinion__posts {
  line-height: 0rem !important;
}

.author {
  right: 0;
  width: 15%;
  bottom: -5rem;
}

.versus {
  margin: 8rem 50%;
}
.versus h3 {
  background-color: black;
}

.icon {
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) contain
    no-repeat;
}

.background-button {
  background-color: var(--primary);
}

.subscribe-box {
  width: 100%;

  height: 30rem;
  background-color: #f4f5f6;
}
.book__image {
  margin-left: -10rem;
}

.newsletter-box {
  width: 90%;
  height: 30rem;
  background-color: white;
  box-shadow: -2px 9px 19px -9px rgba(0, 0, 0, 0.53);
  border: 1px solid rgb(214, 207, 207);
}
